.btn {

 font: 20px arial, sans-serif;

   // background-image: url('http://i.stack.imgur.com/e2S63.png');
   // background-position: -9px -7px;
   // background-repeat: no-repeat;
    //background-size: 39px 43px;
}

.info{

margin:auto;
margin-top:10px;
padding:10px;
width:95%;
height:70px;
background-color:#E6E6FA;
text-align:center;
border:1px solid #d3d3d3;
 border-radius: 4px;
 font: 30px arial, sans-serif;
}


.dane{

margin:auto;
margin-top:10px;
padding:10px;
width:95%;
height:50px;
background-color:#e6f0ff;
text-align:center;
border:1px solid #bdc5e5;
  border-radius: 4px;
}




.btn1{

margin:15px;
width:200px;
height:200px;
padding:15px;

}


.btn2{

margin:15px;
width:200px;
height:200px;
padding:15px;

}

.btn3{

margin:15px;
width:200px;
height:200px;
padding:15px;

}


.btn4{

margin:15px;
width:200px;
height:200px;
padding:15px;

}

.btn5{

margin:15px;
width:200px;
height:200px;
padding:15px;

}

.btn:hover {

box-shadow: 5px 5px 10px grey;
//background-color: #E6E6FA;
}